@using Microsoft.AspNetCore.Components
@using Service.Backoffice.Blazor.Models
@using Service.Backoffice.Blazor.Services
@using Service.Core.Client.Extensions

@inject IKeyValueDataService _keyValueDataService

@if (_data is {ErrorText: {}})
{
    <div class="alert alert-danger" role="alert">
        @_data.ErrorText
    </div>
}

<div class="container min-width">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">User email</span>
        </div>
        <input type="text" class="form-control" id="emailValue" aria-describedby="basic-addon3" @bind="EmailFilter" @onkeydown="@EmailEnter">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @onclick="Filter">Search</button>
        </div>
    </div>
</div>

@if (_data != null && _data.ErrorText.IsNullOrEmpty())
{
    <div class="container">
        <div class="card">
            <div class="card-header">
                Retry info
            </div>
            <div class="card-body">

                <table class="table table-hover" style="width: 100%">
                    <thead class="thead-dark">
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (ParamValue paramValue in _data.Items)
                    {
                        <tr>
                            <td>@paramValue.Param</td>
                            <td><div class="key-value">@paramValue.Value</div></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@code {
    private KeyValueDataViewModel _data;
    private string EmailFilter { get; set; }
    private bool IsRefreshing { get; set; } = false;

    private async Task Filter()
    {
        IsRefreshing = true;
        _data = await _keyValueDataService.GetKeyValueData(EmailFilter);
        IsRefreshing = false;
    }

    public async Task EmailEnter(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter")
            await Filter();
    }

}