@page "/educationprogress"

<PageTitle>@Program.ApplicationTitle: Education progress</PageTitle>

@using Service.Backoffice.Components.EducationProgress;

<h4 class="header-link" @onclick="StateHasChanged">Education progress</h4>
<hr/>

<EducationProgressComponent/>

@code {
}