@page "/usertokenaccount"

<PageTitle>@Program.ApplicationTitle: User token account</PageTitle>

@using Service.Backoffice.Components.UserTokenAccount;

<h4 class="header-link" @onclick="StateHasChanged">User token account</h4>
<hr/>

<UserTokenAccountComponent/>

@code {
}