@page "/emailsender"

<PageTitle>@Program.ApplicationTitle: EmailSender operations</PageTitle>

@using Service.Backoffice.Blazor.Components.EmailSenderOperations;

<h4 class="header-link" @onclick="StateHasChanged">EmailSender operations</h4>
<hr/>

<EmailSenderOperationsComponent/>

@code {
}