@page "/keyvalue"

<PageTitle>@Program.ApplicationTitle: KeyValue collection</PageTitle>

@using Service.Backoffice.Blazor.Components.KeyValue;

<h4 class="header-link" @onclick="StateHasChanged">KeyValue collection</h4>
<hr/>

<KeyValueComponent/>

@code {
}