@page "/marketproduct"

<PageTitle>@Program.ApplicationTitle: Market product</PageTitle>

@using Service.Backoffice.Blazor.Components.MarketProduct;

<h4 class="header-link" @onclick="StateHasChanged">Market product</h4>
<hr/>

<MarketProductComponent/>

@code {
}