@page "/tokenrate"

<PageTitle>@Program.ApplicationTitle: Token rate</PageTitle>

@using Service.Backoffice.Blazor.Components.TokenRate;

<h4 class="header-link" @onclick="StateHasChanged">Token rate</h4>
<hr/>

<TokenRateComponent/>

@code {
}