@page "/userinfo"

<PageTitle>@Program.ApplicationTitle: User info</PageTitle>

@using Service.Backoffice.Blazor.Components.UserInfo;

<h4 class="header-link" @onclick="StateHasChanged">User info</h4>
<hr/>

<UserInfoComponent/>

@code {
}